[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/tmux"]
	path = vim/bundle/tmux
	url = https://github.com/tsaleh/vim-tmux.git
[submodule "vim/bundle/vim-rvm"]
	path = vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/visual-star-search"]
	path = vim/bundle/visual-star-search
	url = git@github.com:nelstrom/vim-visual-star-search.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
